/*body {
  background-color: #cdc5cc;
  background-color: #eee4e5;
}*/

.score {
  /*margin-left: 30%;*/
  width: 100%;
  margin-top: 15%;
  margin-bottom: 2%;
  /*height: 650px;*/
  /*background: #eee4e5;*/
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid black;
  /*margin-right: 5%;*/
  padding: 0;
}

.flex-container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  /*justify-content: space-around;*/
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-container-last {
  width: 100%;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  /*justify-content: space-around;*/
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  /*align-items: stretch;*/
}

.flex-item {
  background: #69b390;
  /*padding: 5px;*/
  /*width: 180px;*/
  width: 15vh;
  /*width: 15%;*/
  /*height: 150px;*/
  height: 15vh;
  /*height: 10%;*/
  margin: 8px 8px 0 0;
  /*margin: 0 0 2px 0;*/
  /*line-height: 150px;*/
  line-height: 1000%;
  color: black;
  font-weight: bold;
  /*font-size: 3em;*/
  text-align: center;
  justify-content: center;
}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.button {
  display: inline-block;
  color: white;
  background-color: #302e2c;
  border-radius: 0px;
  border: 1px solid #e2855a;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  width: 8%;
  float: center;
}

.button:hover {
  background-color: #f7bfa5;
}

.box:hover {
    background-color: #f7bfa5;
}
.box::selection {
  background-color: blue;
}

.box:active {
    background-color: yellow;
}

.box:visited {
    color: green;
}
.score-right {
  color: #b05c04;
  float: right;
}

.score-bg {
  color: #b05c04;
  /*background-color: #b05c04;*/
  text-align: center;
}
